.iconimg {
    width: 80px;
    height: 80px;
    flex: 1;
    border-radius: 7px 7px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.filterimg {
    width: 40px;
    height: 40px;
}

.filtertab {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8px;
}

.filterbuttons {
    display: flex;
    width: 100%;
    height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    padding: 0px 20px;
    margin-bottom: 15px;
    background-color: rgb(39, 39, 39);
}

input {
    padding: 12px 0px;
    background: none;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid gainsboro;
    font-size: 17px;
    font-style: italic;
    color: gainsboro;
}

.valkname {
    position: relative;
    font-size: 12px;
    color: gainsboro;
    margin: 6px 0px;
    overflow: hidden;
}

.mainlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(51, 51, 51);
}

.listcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    flex: 0 1 100vw;
    border-radius: 10px;
    width: 100%;
    padding: 40px 20px;
    background-color: rgb(39, 39, 39);
}

.container {
    width: 80px;
    height: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 18px;
}

.appcard {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.ranktext {
    font-weight: bold;
    font-size: 20px;
}