
.mainlist {
    display: flex;
    justify-content: flex-start;
}

.charlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(51, 51, 51);
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainchar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    margin-top: 30px;
}

.mainskill {
    flex-direction: column;
}

.stigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
    padding: 20px;
    height: 135px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.skillbox {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box; 
    background-color: rgb(51, 51, 51);
}

.skillgif {
    width: 190px;
    border-radius: 5px;
}

.skillgifcontainer {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.skillgiftext {
    margin: 0px;
    font-style: italic;
    margin-top: 5px;
}

.stigset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    margin: 0px;
}

select {
    width: 110px;  
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: rgb(51, 51, 51);
    padding: 8px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

option {
    height: 209px;
}

.stigimg {
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: rgb(51, 51, 51);
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    pointer-events: none;
}

.stigcontainer {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    align-items: center;
    width: 90px;
    margin: 0px 10px;
    text-align: center;
}

.titlename {
    margin: 0px 0px;
    margin-bottom: 10px;
    width: 100%;
}

.descimg {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 10px 10px;
    pointer-events: none;
}

.valkdesc {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.imgblock {
    margin-right: 5px;
    width: 25px;
}

.infoblocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.basicinfo {
    display: flex;
    height: 25px;
    padding: 9px 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dropdown {
    padding: 0px;
}

.scrollbutton {
    height: 100%;
    padding: 14px;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis:0;
    text-align: center;
    font-size: 13px;
    user-select: none;
}
.scrollbutton:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
}