html {
    background-color: rgb(56, 56, 56);
}

body {
    margin: 0px;
    font-family: 'Open Sans';
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    display: flex;
    margin-top: 100px;
}